<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<p>
  Praesent interdum gravida fermentum. Aliquam accumsan interdum nisi, non ornare nisl fringilla ac. Donec in velit sed metus varius gravida vel faucibus neque. Vivamus vel facilisis massa. Proin vel ultricies velit. Nulla in lacus elit. Proin eget purus egestas, aliquet neque vitae, consectetur ex. Phasellus ornare quam lacus, in semper odio sodales ut.
</p>


  <p>
    Page 3
  </p>
  <ion-button color="success" expand="small" [routerDirection]="'back'" [routerLink]="['/chapter2']">Go Back to Chapter 2</ion-button>
  <ion-button color="danger" expand="small" [routerDirection]="'root'" [routerLink]="['/home']">Go Back Home</ion-button>
</ion-content>
