<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque magna erat, euismod vitae tincidunt vitae, feugiat vel lorem. Aliquam at lectus ac est faucibus lacinia. Mauris eget commodo odio. Curabitur ac ex non lorem suscipit iaculis. Cras a felis pretium, placerat nisl eu, gravida ipsum. Duis efficitur suscipit lacus, id aliquam dui semper ac. Nulla ipsum enim, iaculis quis rhoncus quis, efficitur eu est. Donec imperdiet molestie auctor. Etiam ut ligula finibus, feugiat ligula eu, pretium lacus. Pellentesque id neque sapien. Integer cursus, nisl ultricies faucibus aliquet, orci nulla maximus augue, quis porttitor massa neque eget augue. Nullam laoreet erat non urna ultricies scelerisque.
</p>
  <p>
    Page 2
  </p>
  <ion-button color="success" expand="small" [routerDirection]="'back'" [routerLink]="['/chapter1']">Go Back to Chapter 1</ion-button>
  <ion-button color="warning" expand="small" [routerDirection]="forward" [routerLink]="['/chapter3']">Go on to Chapter 3</ion-button>  
  <ion-button color="danger" expand="small" [routerDirection]="'root'" [routerLink]="['/home']">Go Back Home</ion-button>
</ion-content>
